/*Stjerne = felles-css*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

/*Bakgrunns-animasjonen*/
body {
  background: linear-gradient(-45deg, #6ff346, #31b7e7, #aa6be6, #79b9f5, #eb6b6b, #e6d15f, #79b9f5);
  background-size: 400% 400%;
  width: 100%;
  height: auto;
  animation: gradient 12s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
  }
  
}

/*Selve ToDo-appen, størrelse og plassering på nettleseren*/
.todo-app {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: start;
  width: 27.5em;
  min-height: 37.5em;
  background: #415ac7;
  text-align: center;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  margin: 5em auto;
  border-radius: 10px;
  border: 1px solid white;
}
/*Tittelen, "karanteneLista*/
h1 {
  margin: 0.9em 0;
  color: #fff;
  font-size: 1.3rem;
}

/* Film-emojiene på appen*/
p{
  font-size: 2rem;
  margin-bottom: -0.7em;
  margin-top: 0.3em;
}

/*Oppdatere Todo*/
.todo-form {
  margin-bottom: 2em;
}

/*"Legg til film..." tekst-redigering*/
.todo-input::placeholder{
  font-size: 1rem;
  color: white;
  font-weight: 500;
}

/*"Legg til film..." selve boksen*/
.todo-input {
  padding: 0.875em 1em 0.875em 1em;
  border-radius: 4px 0 0 4px;
  border: 2px solid rgb(53, 163, 26);
  outline: none;
  width: 20em;
  background: transparent;
  color: #fff;
}

/*Lagre knappen*/
.todo-button {
  padding: 1.03em;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(53, 163, 26) 0%,
    rgb(123, 211, 101) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

/*Oppdaterings-knappen, når man skal endre film-navn*/
.todo-input.edit {
  padding: 0.875em 1em 0.875em 1em;
  border: 2px solid #149fff;
  border-radius: 4px 0 0 4px;
  outline: none;
  background: transparent;
  width: 20em;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  border-radius: 0 4px 4px 0;
  font-size: 0.84rem;
  padding-left: 0.2em;
  padding-right: 0.2em;
}


/*Fargevalg av de ulike kollonnene som popper opp 
når man taster inn nye film-titler*/
.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );
  padding: 1em;
  border-radius: 5px;
  border: 1px solid rgb(53, 51, 51);
  width: 90%;
}

.todo-row:nth-child(6n + 1) {
  background: linear-gradient(
    90deg,
    rgb(221, 208, 18) 0%,
    rgb(212, 209, 20) 100%
  );
  border: 1px solid rgb(53, 51, 51);
}

.todo-row:nth-child(6n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
  border: 1px solid rgb(53, 51, 51);
}

.todo-row:nth-child(6n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  border: 1px solid rgb(53, 51, 51);
}
.todo-row:nth-child(6n + 4) {
  background: linear-gradient(
    90deg,
    rgba(54, 185, 42) 0%,
    rgb(23, 179, 70) 100%
  );
  border: 1px solid rgb(53, 51, 51);
}

.todo-row:nth-child(6n + 5) {
  background: linear-gradient(
    90deg,
    rgb(214, 54, 54) 0%,
    rgb(223, 43, 43) 100%
  );
  border: 1px solid rgb(53, 51, 51);
}

/*Ikonene for skrive ny tittel og for å fjerne film*/
.icons {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}

/*Media queries*/
@media only screen and (max-width:30em){
  .todo-app{
    width: 25em;
    height: auto;
  }
}

@media only screen and (max-width:27em){
  .todo-app{
    width: 21em;
    height: auto;
  }
}
@media only screen and (max-width:22em){
  .todo-app{
    width:14em;
    height: auto;
  }
}
@media only screen and (max-width:19em){
  .todo-app{
    width:10em;
    height: auto;
  }
}
@media only screen and (max-width:26em){
  .todo-input{
    width: 12em;
  }
}
@media only screen and (max-width:22em){
  .todo-input{
    width: 6em;
  }
}
@media only screen and (max-width:26em){
  .todo-button.edit{
    width: 6em;
  }
}
@media only screen and (max-width:22em){
  .todo-button.edit{
    width: 6em;
  }
}
@media only screen and (max-width:26em){
  .todo-input.edit{
    width: 10em;
  }
}
@media only screen and (max-width:22em){
  .todo-input.edit{
    width: 4em;
  }
}
@media only screen and (max-width:22em){
  .todo-input::placeholder{
    font-size: 0.57em;
  }
}
@media only screen and (max-width:22em){
  .icons{
    font-size: 0.75em;
  }
}

/**/
.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

/**/
.complete {
  text-decoration: line-through;
  opacity: 0.4;
}